.team-member {
    text-align: center;
}

.team-member__photo {
    border-radius: 50%;
    margin-bottom: 37px;
}

.team-member__name {
    margin-bottom: 8px;
    color: #393c44;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
}

.team-member__position {
    color: #f44336;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
}
